<!-- <div class="unbox" (keydown.enter)="captureImage()">
  <h1>UnFace Extraction Model Testing</h1>
  <div>
    <video #videoElement autoplay></video>
    <div class="image-container" *ngIf="!reset && response && response[0]?.face_detected">
      <img #capturedImage [src]="imageData" alt="Captured Image" *ngIf="capturing" />
      <div class="boundary-box" [ngStyle]="getBoundaryBoxStyles(response[0]?.facial_area)">
        <img style="margin-bottom: 200px;" class="face-emoji" src="https://em-content.zobj.net/source/microsoft-teams/363/slightly-smiling-face_1f642.png" alt="Face Emoji" />
      </div>
    </div>
  </div>
  <div *ngIf="!capturing" (keydown.enter)="captureImage()">
    <button (click)="captureImage()">Capture Image</button>
  </div>
  <div *ngIf="capturing" (keydown.enter)="captureImage()">
    <button (click)="captureAgain()">Capture Again</button>
  </div>
  <div *ngIf="response && !reset">
    <h3>API Response:</h3>
    <div>
      <pre *ngIf="response[0]?.confidence > 0.5"> Face Detected! Accuracy is {{ response[0]?.confidence }} </pre>
      <pre *ngIf="response[0]?.confidence < 0.5"> Face Not Detected! Accuracy is {{ response[0]?.confidence }} </pre>
    </div>
  </div>
</div> -->
<div class="unbox">
  <h1>UnFace Detector Model Testing</h1>
  <div>
    <video #videoElement autoplay></video>
    <!-- Display the captured image with a green boundary box and a face emoji -->
    <div class="image-container" *ngIf="!reset && response && response[0]?.face_detected">
      <img #capturedImage [src]="imageData" alt="Captured Image" *ngIf="capturing" />
      <div class="boundary-box" [ngStyle]="getBoundaryBoxStyles(response[0]?.facial_area)">
        <img style="margin-bottom: 200px;" class="face-emoji" src="https://em-content.zobj.net/source/microsoft-teams/363/slightly-smiling-face_1f642.png" alt="Face Emoji" />
      </div>
    </div>
  </div>
  <div *ngIf="!isLoading">
    <input type="file" (change)="uploadImage($event)">
    <button (click)="captureImage()" *ngIf="!capturing">Capture Image</button>
    <button (click)="captureAgain()" *ngIf="capturing">Capture Again</button>
  </div>
  <ng-container *ngIf="isLoading">
    <div class="spinner">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <span style="margin-top: 30px;">Loading!</span>
  </ng-container>
  <div *ngIf="response && !reset && !isLoading">
    <h3>API Response:</h3>
    <div>
      <pre style="font-size: 18px;" *ngIf="response[0]?.confidence > 0.5"> Face Detected! Accuracy is {{ response[0]?.confidence }} </pre>
      <pre style="font-size: 18px;" *ngIf="response[0]?.confidence < 0.5"> Face Not Detected! Accuracy is {{ response[0]?.confidence }} </pre>
    </div>
  </div>
</div>
