<div class="unbox" (keydown.enter)="captureImage()">
  <h1>UnFace Analyser Model Testing</h1>
  <div>
    <video #videoElement autoplay></video>
    <!-- Display the captured image with a green boundary box and a face emoji -->
    <div class="image-container" *ngIf="!reset && response">
      <img #capturedImage [src]="imageData" alt="Captured Image" *ngIf="capturing" />
      <div class="boundary-box" [ngStyle]="getBoundaryBoxStyles(response[0]?.facial_area)">
        <img style="margin-bottom: 200px;" class="face-emoji" [src]="getEmotionImage(response[0]?.dominant_emotion)" alt="Face Emoji" />
        <!-- <div class="green-tick">✔</div> -->
      </div>
    </div>
  </div>
  <div *ngIf="!capturing" (keydown.enter)="captureImage()">
    <input type="file" (change)="uploadImage($event)">
    <button (click)="captureImage()">Capture Image</button>
  </div>
  <div *ngIf="capturing" (keydown.enter)="captureImage()">
    <button (click)="captureAgain()">Capture Again</button>
  </div>
  <ng-container *ngIf="loading; else responseContent">
    <!-- Loader component or animation -->
    <div class="spinner">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <span style="margin-top: 30px;">Loading!</span>
  </ng-container>
  <ng-template #responseContent>
  <div *ngIf="response && !reset">
    <h3>API Response:</h3>
    <div>
        <pre style="font-size: 18px;"> Face Detected! Emotion is (<img style="width: 30px;height: 30px;margin-bottom: -3px;" [src]="getEmotionImage(response[0]?.dominant_emotion)" alt="Face Emoji" />) <strong>{{ response[0]?.dominant_emotion }}</strong>, Age is <strong>{{ response[0]?.age }}</strong>, <br>
          Gender is <strong>{{ response[0]?.dominant_gender }}</strong>, Race is <strong>{{ response[0]?.dominant_race }}</strong></pre>
        </div>
      </div>
    </ng-template>
</div>

