<!-- <button class="button-success pure-button" (click)="navigate('detect')">Face Detection</button>
<button class="button-secondary pure-button" (click)="navigate('analyser')">Face Analyser</button>
<button class="button-success pure-button" (click)="navigate('extractor')">Face Extractor</button>
<button class="button-secondary pure-button" (click)="navigate('realtime')">Face Detection Real-Time</button> -->
<div class="menu-button">
  <!-- <div (click)="navigate('detect')"  class="uiverse">
    <span class="tooltip">Detects faces in pic!</span>
    <span>
      Face Detection
    </span>
  </div> -->

  <div style="display: flex;">
    <img style="width: auto;height: 30px;padding: 17px 0 17px 15px;" src="https://d8it4huxumps7.cloudfront.net/uploads/images/unstop/svg/unstop-logo.svg" alt="image">
    <button class="button">
      <svg class="svg-icon"  xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="3"></circle><path d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z"></path></svg>
      <span class="lable">DEV</span>
    </button>
  </div>
  <!-- <div (click)="navigate('analyser')" class="uiverse">
    <span class="tooltip">Analyses basic features!</span>
    <span>
      Face Analyser
    </span>
  </div> -->
  <!-- <div (click)="navigate('detector')" class="uiverse">
    <span class="tooltip">Detects faces in pic!</span>
    <span>
      Face Detection
    </span>
  </div>
  <div (click)="navigate('verifier')" class="uiverse">
    <span class="tooltip">Verifies faces in pics!</span>
    <span>
      Face Verification
    </span>
  </div>
  <div (click)="navigate('realtime')" class="uiverse">
    <span class="tooltip">On-device real-time detection!</span>
    <span>
      Real-Time Detection
    </span>
  </div> -->
  <div (click)="navigate('ask')" class="uiverse">
    <span class="tooltip">AI ChatBot!</span>
    <span>
      AskBot
    </span>
  </div>
</div>
<router-outlet></router-outlet>
