<!-- <div class="unbox">
  <h1>UnFace Model Testing</h1>
  <div>
    <video #videoElement autoplay></video>
    <img #capturedImage [src]="imageData" alt="Captured Image" *ngIf="capturing" />
  </div>
  <div *ngIf="!capturing">
    <button (click)="captureImage()">Capture Image</button>
  </div>
  <div *ngIf="capturing">
    <button (click)="captureAgain()">Capture Again</button>
  </div>
  <div *ngIf="response">
    <h3>API Response:</h3>
    <pre>{{ response | json }}</pre>
  </div>
</div> -->

<div class="unbox" (keydown.enter)="captureImage()">
  <h1>UnFace Detection Model Testing</h1>
  <div>
    <video #videoElement autoplay></video>
    <!-- Display the captured image with a green boundary box and a face emoji -->
    <div class="image-container" *ngIf="!reset && response && response[0]?.face_detected">
      <img #capturedImage [src]="imageData" alt="Captured Image" *ngIf="capturing" />
      <div class="boundary-box" [ngStyle]="getBoundaryBoxStyles(response[0]?.facial_area)">
        <img style="margin-bottom: 200px;" class="face-emoji" src="https://em-content.zobj.net/source/microsoft-teams/363/slightly-smiling-face_1f642.png" alt="Face Emoji" />
        <!-- <div class="green-tick">✔</div> -->
      </div>
    </div>
  </div>
  <div *ngIf="!capturing" (keydown.enter)="captureImage()">
    <button (click)="captureImage()">Capture Image</button>
  </div>
  <div *ngIf="capturing" (keydown.enter)="captureImage()">
    <button (click)="captureAgain()">Capture Again</button>
  </div>
  {{isLoading}}
  <div *ngIf="isLoading" class="loader">
    Loading...
  </div>
  <div *ngIf="response && !reset">
    <h3>API Response:</h3>
    <div>
      <!-- <img *ngIf="response[0]?.face_detected && !reset" class="face-emoji" src="https://d8it4huxumps7.cloudfront.net/uploads/images/64d910207529e_slightly_smiling_face_1f642.png" alt="Face Emoji" /> -->
      <pre style="font-size: 18px;" *ngIf="response[0]?.confidence > 0.5"> Face Detected! Accuracy is {{ response[0]?.confidence }} </pre>
      <pre style="font-size: 18px;" *ngIf="response[0]?.confidence < 0.5"> Face Not Detected! Accuracy is {{ response[0]?.confidence }} </pre>
    </div>
  </div>
</div>

