.unbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter",sans-serif!important;
  text-align: center;
  // margin-top: 50px; /* Adjust as needed */
}
// video {
//   width: 100%;
// }

video {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.image-container {
  position: relative;
  display: inline-block;
  margin: 10px;
}

.verified {
  border: 2px solid green;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.face-box {
  position: absolute;
  border: 2px solid green;
  box-sizing: border-box;
  pointer-events: none;
}

.emoji {
  position: absolute;
  font-size: 36px;
  color: green;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
